.c-subheading-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;

  font-size: 18px;
  line-height: 24px;
  padding: 9px 0 3px;
}

.c-heading-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;

  font-size: 24px;
  line-height: 28px;
  padding: 36px 0 4px;
}