body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    /* Stop refreshing when scrolling down */
    overscroll-behavior-y: contain;
}

html,
body,
#root,
.App {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pageLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > .c-navbar {
        flex-basis: 51px;
    }
    > .pageLayoutContent {
        flex: 1 1;
    }
}