[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = silent

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = suggestion
csharp_style_prefer_switch_expression=false:suggestion
csharp_prefer_simple_default_expression=true:silent

[*.{cs,vb}]
dotnet_style_readonly_field=true:silent
dotnet_style_object_initializer=true:silent